.featuredMovieContainer {
  height: 100vh;
}

.uiX {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 35%, transparent 65%);
}

.uiY {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 7%, transparent 55%);
}

.featuredMovieDataContainer {
  height: inherit;
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 48px;
  margin-top: -26px;
}

.featuredMovieDataContainer h2 {
  font-size: 3.75rem;
  line-height: 3.4rem;
}

.subTitleContainer {
  display: flex;
  align-items: center;
  padding-top: 8px;
  font-size: 1.2rem;
}

.voteAverage {
  color: #46d369;
}

.releaseDate {
  padding: 0 1.2rem;
}

.descriptionContainer {
  margin: 1.2rem 0rem;
  font-size: 1.3rem;
  color: var(--grey);
  font-weight: 500;
}

.buttonsContainer {
  display: flex;
  align-items: center;
}

.buttonsContainer button {
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1rem;

  padding: 0.6rem 1.4rem;
  border-radius: 0.2rem;
  
  transition: all ease 0.2s;
}

.buttonsContainer button span {
  margin-left: 6px;
}

.playButton {
  background: var(--red);
  margin-right: 1rem;
  transition: all 0.2s;
}

.playButton:hover {
  opacity: 0.8;
}

.buttonsContainer .moreInfoButton {
  border: 1px solid var(--grey);
  margin-right: 0.8rem;
  background: black;
  transition: all 0.2s;
}

.moreInfoButton:hover {
  opacity: 0.8;
}

.genres {
  margin-top: 1rem;
  display: flex;
  font-size: 1.1rem;
  color: var(--grey);
}

.genresName {
  margin-left: 0.3rem;
  font-size: 1.1rem;
  color: var(--grey);
}


@media (max-width: 1120px) {
  .uiX {
    background: linear-gradient(to right, #111 25%, transparent 95%);
  }

  .featuredMovieDataContainer {
    width: 60%;
  }
}

@media (max-width: 720px) {
  .featuredMovieContainer {
    display: none;
  }
}