.topBarContainer {
  position: fixed;
  height: 48px;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 48px;

  background: black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 999;
}

.leftContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.netflixLogo {
  width: 112px;
  padding-top: 4px;

  transition: 0.2s;
}

.topBarPagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;    

  margin-left: 56px;
}

.topBarPagesContainer a {
  padding-right: 1.4rem;
  color: var(--grey);

  cursor: pointer;
  transition: 0.2s;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--grey);
  padding: 3px;
  margin-right: 36px;
}

.searchContainer input {
  background: black;
  color: white;
  border: none;

  padding: 0 8px;
  margin: 0 3px;
}

.searchIcon,
.closeIcon,
.arrowDropDownIcon {
  cursor: pointer;
}

.notificationIcon {
  margin-right: 24px;
  cursor: pointer;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarContainer img {
  width: 2rem;
}

.netflixLogo:hover,
.topBarPagesContainer a:hover,
.searchIcon:hover,
.closeIcon:hover,
.notificationIcon:hover,
.arrowDropDownIcon:hover {
  opacity: 0.8;
}